<div class ="main_page_body_under_navigation" id="patient_data_entry"> 
	<div class="outer_block_text_column" id="patient_data_entry_box">
		<form action='/user/patient/changePassword' method='post'></form>
			<div class="light_theme_colour_background" id="data_entry_page">
				<h2 class="data_entry_heading">Reset Your Password</h2>
				
				<div class="change_password_box">

					<!--New Password input field-->
					<div class="data_grid" id="password">
						<p class="data_entry_label" id="change_password">New Password</p>
						<input class="password_entry" type="password" id="newpassword1" name="newpassword1" placeholder="" oninput="checkPatientNewPassword()">
					</div>
					
					<!--Confirm Password input field-->
					<div class="data_grid" id="password">
						<p class="data_entry_label" id="change_password">Confirm New Password</p>
						<input class="password_entry" type="password" id="newpassword2" name="newpassword2" placeholder="" oninput="checkPatientNewPassword()">
					</div>

					<!--Subit Button-->
					<div class="data_entry_button_grid">
						<div class="outer_block_text_column" id="cancel_button">
							<button class="default_button grey data_button" id="password_cancel_button" type="button" onclick="patientRedirectHomeNoAction()">Cancel</button>
						</div>
						
						<div class="outer_block_text_column" id="submit_button">
							<input type="submit" value="Submit" class="default_button grey data_button" id="password_submit_button" disabled>
						</div>
					</div>

				</div>
			
			</div>
		</form>
	</div>
</div>