<div class ="main_page_body_under_navigation" > 
	<div class ="rounded_box_half_width wide">
		<div class="basic_column wide">
			<form action='/user/patient/changePassword' method='post'>
				<div class="center_text_column narrow">  
					<h1>Reset Your Password</h1>
				</div>
				<!--Old Password input field-->
				<div class="left_text_column">
					<h2>Old Password</h2>
				</div>
				<input class="input_field wide" type="password" id="passwordOld" name="passwordOld" placeholder="" oninput="checkPatientNewPassword()">
				<!--New Password input field-->
				<div class="left_text_column">
					<h2>New Password</h2>
				</div>
				<input class="input_field wide" type="password" id="newpassword1" name="newpassword1" placeholder="" oninput="checkPatientNewPassword()">
				<!--Confirm Password input field-->
				<div class="left_text_column">
					<h2>Confirm New Password</h2>
				</div>
				<input class="input_field wide" type="password" id="newpassword2" name="newpassword2" placeholder="" oninput="checkPatientNewPassword()">
				<!--Subit Button-->
				<div class="data_entry_button_grid">
					<div class="outer_block_text_column" id="cancel_button">
						<button class="default_button grey data_button" id="password_cancel_button" type="button" onclick="patientRedirectHomeNoAction()">Cancel</button>
					</div>
					
					<div class="outer_block_text_column" id="submit_button">
						<input type="submit" value="Submit" class="default_button grey data_button" id="password_submit_button" disabled>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>