<div class="main_page_body_under_navigation" id="patient_data_entry">
    <div class="outer_block_text_column" id="patient_data_entry_box">
        <div class="light_theme_colour_background" id="data_entry_page">

            <h2 class="data_entry_heading">Add a new patient</h2>

            <form action='/user/clinician/insertNewPatient' method='post'>
                <div class="data_entry_format_grid" id="new_patient">
                    <div class="patient_entry_grid">
                        
                        <div class="patient_entry_minor_grid">

                            <div class="outer_block_text_column" id="data_grid">
                                <div class="data_grid">
                                    <p class="patient_info_label">Given Name</p>

                                    <label for="given_name"></label>
                                    <input class="patient_new_input" type="text" name="first_name"></input>
                                </div>
                            </div>

                            <div class="outer_block_text_column" id="data_grid">
                                <div class="data_grid">
                                    <p class="patient_info_label">Family Name</p>

                                    <label for="family_name"></label>
                                    <input class="patient_new_input" type="text" name="last_name"></input>
                                </div>
                            </div>

                            <div class="outer_block_text_column" id="data_grid">
                                <div class="data_grid">
                                    <p class="patient_info_label">Date of Birth</p>

                                    <label for="dob"></label>
                                    <input class="patient_new_input" type="date" name="dob"></input>
                                </div>
                            </div>
                            
                            <div class="outer_block_text_column" id="data_grid">
                                <div class="data_grid">
                                    <p class="patient_info_label">Email Address</p>

                                    <label for="email_address"></label>
                                    <input class="patient_new_input" type="text" name="email" pattern="\S+@\S+" title="Must be a valid email address"></input>
                                </div>
                            </div>


                            <div class="outer_block_text_column" id="data_grid">
                                <div class="data_grid">
                                    <p class="patient_info_label">Username</p>

                                    <label for="username"></label>
                                    <input class="patient_new_input" type="text" name="username"></input>
                                </div>
                            </div>


                            <div class="outer_block_text_column" id="data_grid">
                                <div class="data_grid">
                                    <p class="patient_info_label">Password</p>

                                    <label for="password"></label>
                                    <input class="patient_new_input" type="text" name="password" pattern="\S{8,}" title="Must be at least 8 characters"></input>
                                </div>      
                            </div>
                        </div>

                        <div class="outer_block_text_column" id="data_grid">
                            <div class="data_grid">
                                <p class="patient_info_label">Bio</p>

                                <label for="new_patient_bio"></label>
                                <input class="patient_new_input" id ="new_patient" type="text" name="new_patient_bio"></input>
                            </div>      
                        </div>


                    </div>

                    <div class="data_entry_button_grid">
                        <div class="outer_block_text_column" id="cancel_button">
                            {{!-- Note that type="button" is required as the default behavior for a button is to submit the form, not what we want! --}}
                            <button class="default_button grey" id="data_button" type="button"  onclick="clinicianRedirectHome()">Cancel</button>
                        </div>
                        
                        <div class="outer_block_text_column" id="submit_button">
                            <input type="submit" value="Submit" class="default_button dark_blue" id="data_button">
                        </div>
                    </div>
                </div> 
            </form>

        </div>
    </div>
</div>