<!--Patient Login Box-->
<div class ="main_page_body_under_navigation" >
	<div class ="rounded_box_half_width long">
		<div class="basic_column">
			<div class="center_text_column"> 
				<h1>Patient Login</h1>
			</div>
			<form method="post" action="/user/patient/login">
				<!--Username input field-->
				<div class="left_text_column">
					<h2>Username</h2>
					<input class="input_field" type="text" id="username" name="username" placeholder="">
				</div>
				
				<!--Password input field-->
				<div class="left_text_column">
					<h2>Password</h2>
					<input class="input_field" type="password" id="password" name="password" placeholder="">
				</div>	
				
				<div class="center_row">
					<button class="default_button dark_blue_centered" type="submit">Login</button>
				</div>		
								
				{{#each flash}}
        			<p class="alert">{{this}}</p>
        		{{/each}}

			</form>

		</div>
	</div>
</div>