<!--Patient Login Box-->
	<div class ="main_page_body_under_navigation" >
	<div class ="rounded_box_half_width long">
		<form method="post" action="/user/patient/login"></form>
			<div class="basic_column">
				<div class="center_text_column" id=> 
					<h1>Patient Login</h1>
				</div>
				
					<!--Username input field-->
					<div class="left_text_column">
						<h2>Username</h2>
					</div>
					<input class="input_field" type="text" id="username" name="username" placeholder="">
					<!--Password input field-->
					<div class="left_text_column">
						<h2>Password</h2>
					</div>
					<input class="input_field" type="password" id="password" name="password" placeholder="">
					<!--Login Button-->
					<button class="default_button dark_blue_centered" type="submit">Login</button>
			</div>
		</form>
	</div>
</div>