<div class="main_page_body_under_navigation">
    <!--This will be the table of data-->
    <div>
        <!--This will be the 4 required rows-->
        <!--Blood Glucose Levels-->
        <div>
            <!--Data input-->
            <div>

            </div>
            <!--Comment-->
            <div>

            </div>
        </div>
        <!--Weight-->
        <div>
            <!--Data input-->
            <div>

            </div>
            <!--Comment-->
            <div>

            </div>
        </div>
        <!--Number of Insulin Doses-->
        <div>
            <!--Data input-->
            <div>

            </div>
            <!--Comment-->
            <div>

            </div>
        </div>
        <!--Daily Steps-->
        <div>
            <!--Data input-->
            <div>

            </div>
            <!--Comment-->
            <div>

            </div>
        </div>
        <!--Buttons Layout-->
        <div>
            <!--Cancel-->
            <div>
                <button class="default_button grey">Cancel</button>
            </div>
            <!--Submit-->
            <div>
                <button class="default_button dark_blue">Submit</button>
            </div>
        </div>
    </div>
</div>