@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600&display=swap');

/* /////////////////////// BACKGROUNDS /////////////////////// */

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans 3', sans-serif;
}

body.normal_theme_colour_background {
    background-image: url("../assets/images/sunriseBlur.jpeg");
}

body.light_theme_colour_background {
    background-image: url("../assets/images/sunriseBlurLight.jpeg");
}


/* /////////////////////// LAYOUTS /////////////////////// */


/* page level layout components divs*/


/* Div to form the nav bar */

.navigation {
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    height: 50px;
}

.navigation_hamburger_expanded {
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    top: 0px;
    right: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: #0062a8;
}

.navigation_hamburger_button_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Div to form the page under a nav bar */

.main_page_body_under_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 70px;
    bottom: 20px;
}

.main_page_body_under_navigation#patient_dashboard_page {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* height: 1000px; */
}

.main_page_body_under_navigation#patient_data_entry {
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
}

/* Flexboxes */

.row_flex_spaced {
    /*Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #0062a8;
}

.about_page_body_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    column-gap: 3%;
    row-gap: 4%;
    margin-left: 3%;
    margin-right: 3%;
    max-height: 90vh;
}

.patient_dash_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.patient_data_grid {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
}

.clinician_dash_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 15%;
    width: 90%;
}

.data_grid {
    width: 100%;
    display: grid;
    grid-template-rows: 1/3 1/3 1/3;
}

#doctor_dash_profile_box {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;

}

#add_new_patient_button {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;

}

#comment_toggle_button {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;

}

#clinician_table_header {
    grid-column: 1/2;
    grid-row: 2/3;

}



.outer_block_text_column#patient_dash_your_profile_box {
    grid-column: 0/1;
    grid-row: 1/4;
}

.outer_block_text_column#patient_dash_doctor_message {
    grid-column: 2/3;
    grid-row: 1/6;
}

.outer_block_text_column#patient_dash_ranges {
    grid-column: 0/1;
    grid-row: 4/7;
}

.outer_block_text_column#patient_dash_add_data_button {
    grid-column: 2/3;
    grid-row: 6/7;
}

.outer_block_text_column#patient_data_entry_box {
    width: 100%;
}



#patient_dash_add_data_button>.default_button.dark_blue {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.about_page_body_flex {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: center;
    align-items: flex-start;
}

.about_page_body_flex#about_website_page {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.row_page_body_flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: center;
    align-items: flex-start;
}

.column_page_body_flex {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.login_row_flex_header {
    /*Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-right: 15px;
    margin-left: 10px;
}


/*layout rules for different screen sizes */

@media only screen and (max-width: 500px) {

    /* Rules for when the iphone X is being used */
    .about_page_body_grid {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .patient_dash_grid {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .main_page_body_under_navigation#patient_dashboard_page {
        width: 95%;
        height: 900px;
    }

    .about_page_body_flex#about_website_page {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .main_page_body_under_navigation {
        align-items: flex-start;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 500px) {

    /* Rules for when the ipad is being used */
    .navigation_hamburger_button_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .main_page_body_under_navigation#patient_dashboard_page {
        width: 95%;
        height: 1000px;
    }
}

@media only screen and (min-width: 1800px) {

    /* Rules for when the desktop is being used */
    body {
        font-size: 18px;
    }

    .navigation {
        height: 100px;
    }

    .main_page_body_under_navigation {
        left: 10px;
        right: 10px;
        top: 120px;
        bottom: 20px;
    }

    .about_page_body_flex {
        gap: 50px;
    }

    .column_page_body_flex {
        gap: 50px;
    }

    .row_page_body_flex {
        gap: 50px;
    }
}


/* /////////////////////// COMPONANTS /////////////////////// */


/* Patient dash table */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

thead {
    background: #0062a8;
}


/* Maing borders for only the inside of the table */

table th {
    border: 3px solid #ffffff;
    border-bottom: 0;
}

table td {
    border: 3px solid #ffffff;
    border-bottom: 0;
}

table tr:first-child th {
    border-top: 0;
    border-left: 0;
}

table tr th:last-child {
    border-right: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

table tr:last-child td {
    border-bottom: 0;
}


/* Rounding the corners of the table */

th:first-of-type {
    border-top-left-radius: 15px;
}

th:last-of-type {
    border-top-right-radius: 15px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 15px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 15px;
}


/* Formatting zebra colour and text*/

thead tr {
    letter-spacing: 1.5px;
    color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #EAF6FF;
}

tbody tr:nth-child(even) {
    background-color: #B1CCE0;
}

th:nth-child(1) {
    width: 1fr;
}

th:nth-child(2) {
    width: 1fr;
}

th:nth-child(3) {
    width: 1fr;
}

th:nth-child(4) {
    width: 1fr;
}

th,
td {
    padding: 20px;
}


/* Text Elements */

#badge_text {
    vertical-align: baseline;
}

#badge_icon {
    vertical-align: middle;
}

ul.patient_dash_list {
    padding: 0;
    list-style-type: none;
    margin: 0px;
}

ul.patient_dash_list>li {
    /* Aligns one span left, the other */
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.ranges_data_box {
    width: 200px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.ranges_data_element {
    width: 100%;
    padding: 2px;
    border-radius: 3px;
    border: 0.5px solid;
}

.profile_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.ranges_data_box>span {
    border-style: solid;
}


/* Containers */

.logo {
    /* conatiner for the logo */
    margin-left: 10px;
    color: #ffffff;
}

.centered_column {
    /* Used to contain one or many text inside a flex box */
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 460px;
    min-width: none;
    margin: auto;
    text-align: center;
}

.outer_block_text_column {
    /* Used to contain one or many text inside a flex box */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    max-width: px;
    min-width: none;
    text-align: justify;
    flex: 1;
}

.outer_block_text_column .inner_block_text_column {
    /* Used to contain text inside a flex box */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.inner_block_text_column.four_corners {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}
#inner_block_clinician_page {
        margin-left: 40px;
        margin-right: 40px;
}



.outer_block_text_column#about_diabetes {
    grid-row: 1/-1;
    grid-column: 1/2;
    justify-self: end;
}

.outer_block_text_column#helpful_websites {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: stretch;
}

.outer_block_text_column#videos {
    grid-row: 2/3;
    grid-column: 2/3;
}

.outer_block_text_column#about_us {
    margin-right: 50px;
}

.outer_block_text_column#logo1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_column_element {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 700px;
    height: 100%;
    align-items: stretch;
}

.video_frame {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%
}

iframe {
    width: 350px;
    height: 200px;
}



.basic_column {
    /*flex box for login pages*/
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 500px;
    min-width: none;
}

.center_text_column {
    text-align: center;
    padding: 1rem;
    margin: 1.5rem;
}

.left_text_column {
    padding: 1rem;
    margin-left: 2rem;
}

.input_feild {
    /*Input contaners*/
    background-color: #B1CCE0;
    color: #0062A8;
    border-color: none;
    border: none;
    border-radius: 7px;
    width: 400px;
    height: 40px;
    align-self: center;
    padding: 1rem;
}


/* text boxes */

.rounded_box_full_width {
    border-radius: 15px;
    width: 500px;
    height: 200px;
    width: 90%
}

.rounded_box_half_width {
    border-radius: 15px;
    width: 320px;
    height: 200px;
}

.rounded_box_half_width.white {
    background-color: #FFFFFF;
}

.rounded_box_half_width.light_blue {
    background-color: #EAF6FF;
}

.rounded_box_half_width.white.transparent {
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.8);
}

.rounded_box_half_width.light_blue.transparent {
    background-color: #EAF6FF;
    background-color: rgba(234, 246, 255, 0.8);
}

#patient_dash_doctor_message_box {
    border-radius: 15px;
    background-color: #FFFFFF;
}

#patient_dash_doctor_message_text {
    padding: 10px;
    margin: 10px;
}

.rounded_box_half_width.long {
    height: 550px;
    width: 500px;
    background-color: #EAF6FF;
}

.centered_heading {
    margin-top: 0px
}

.data_entry {
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    margin-left: 15%;
}

.data_comment {
    height: 50px;
    width: 80%;
    border: none;
    border-radius: 7px;
    font-size: 20px;
}

/* Background colours */

.light_theme_colour_background {
    background-color: #EAF6FF;
    border-radius: 0px 0px 15px 15px;
    height: 100%;
}

.light_theme_colour_background.four_corners {
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    display: flex;
    align-items: center;
}

#doctor_dash_profile_box>.light_theme_colour_background.four_corners {
    width: 90%;
}

.light_theme_colour_background#video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark_theme_colour_background {
    /* used for titles in column text */
    background-color: #0062a8;
    color: #EAF6FF;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    height: 47px;
    line-height: 47px;
}


/* Buttons */

.default_button {
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 200px;
}

.default_button.white {
    background-color: #ffffff;
    color: #858982;
}

.default_button.dark_blue {
    background-color: #0062A8;
    color: #FFFFFF;
}

.default_button.faded_blue {
    background-color: #2962A8;
    color: #FFFFFF;
}

.default_button.grey {
    background-color: #808080;
    color: #FFFFFF;
}

.default_button.dark_blue_white_boarder {
    background-color: #0062A8;
    border: 2px solid #EAF6FF;
    color: #EAF6FF;
}

.default_button.dark_blue_white_boarder:hover {
    background-color: #EAF6FF;
    border: 2px solid #EAF6FF;
    color: #0062A8;
}

.default_button.dark_blue_centered {
    background-color: #0062A8;
    color: #FFFFFF;
    align-self: center;
    margin: 2rem;
    margin-top: 3.5rem;
    font-size: 14pt;
}

.home_button {
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 40px;
    margin: 0px;
}

.home_button.white {
    background-color: #ffffff;
    color: #858982;
}

.home_button.dark_blue_white_boarder {
    background-color: #0062A8;
    border: 2px solid #EAF6FF;
    color: #EAF6FF;
}

.home_button.dark_blue_white_boarder:hover {
    background-color: #EAF6FF;
    border: 2px solid #EAF6FF;
    color: #0062A8;
}

.icon_button {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.button_margin_wrapper {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
}

a.image_link {
    font-size: 0px;
    /* THIS FONT SIZE IS CRUICIAL, DO NOT CHANGE OR REMOVE */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.data_button_heading {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    text-align: right;
    font-size: 20px;
}

.data_button_heading.clinician_page_button {}



.default_button.dark_blue.small_button {
    height: 25px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}



.default_button.image_text_button {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 70%;
    height: 80%;
}


.data_submit.dark_blue.small_button {
    display: flex;
    height: 25px;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

.data_submit.grey.small_button {
    display: flex;
    height: 25px;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

/* icons */

.nav_icon {
    height: 50px;
    width: 50px;
    padding-right: 5px;
}

.icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* images */

.display_image {
    width: 600px;
    height: 600px;
}


/* text for default desktop view*/

body,
a {
    color: #0062A8;
}

h1 {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

h2 {
    font-size: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    margin-bottom: 0px;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.7;
}

a>h3 {
    text-align: left;
}

p.grey {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #3C3E41;
}

.navigation_title {
    color: #FFFFFF;
}


/*layout rules for different screen sizes */

@media only screen and (max-width: 500px) {

    /* Rules for when the iphone X is being used */
    th {
        padding: 1px;
    }

    td {
        padding: 5px;
    }

    table th {
        border: 1px solid #ffffff;
        border-bottom: 0;
    }

    table td {
        border: 1px solid #ffffff;
        border-bottom: 0;
    }

    .ranges_data_box {
        width: 130px;
    }

    #navigation_buttons {
        display: none;
    }

    #navigation_hamburger_clicked_modal {
        display: none;
    }

    #about_website_page_large_display_image {
        display: none;
    }

    h1 {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    h2 {
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    h3 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    p {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    p.grey {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 8px;
        color: #3C3E41;
    }

    .page_column_element {
        width: 100%
    }

    .video_frame {
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 20px;
    }

    iframe {
        width: 90%;
    }

    .outer_block_text_column#about_us {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1800px) and (min-width: 500px) {

    /* Rules for when the ipad is being used */
    .ranges_data_box {
        width: 100px;
    }

    .ranges_data_element {
        padding: 1px;
    }

    #navigation_buttons {
        display: none;
    }

    #navigation_hamburger_clicked_modal {
        display: none;
    }

    .display_image {
        width: 400px;
        height: 400px;
    }

    h1 {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    h2 {
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    h3 {
        font-size: 19px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    p.grey {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        color: #3C3E41;
    }

    .page_column_element {
        width: 500px
    }

    iframe {
        width: 45%;
        height: 90%;
    }
}

@media only screen and (min-width: 1800px) {

    /* Rules for when the desktop is being used */
    #navigation_hamburger {
        display: none;
    }

    #navigation_hamburger_clicked_modal {
        display: none;
    }

    .inner_block_text_column {
        /* Used to container text inside a flex box */
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .rounded_box_half_width {
        border-radius: 25px;
        width: 550px;
        height: 300px;
    }

    .default_button {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Source Sans 3', sans-serif;
        border: none;
        border-radius: 10px;
        height: 60px;
        width: 300px;
    }

    .home_button {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Source Sans 3', sans-serif;
        border: none;
        border-radius: 10px;
        height: 60px;
        width: 60px;
        margin: 0px;
    }
}