/* page level layout components */

.navigation {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    height: 50px;
}

.main_page_body_under_navigation {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 70px;
}


/* Flexboxes */

.row_flex_spaced {
    /*Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: blue;
}

.about_page_body_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    align-items: flex-start;
}

.login_row_flex_header {
    /*Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 260px;
    margin-right: 15px;
    margin-left: 10px;
}


/*layout rules for different screen sizes */

@media only screen and (max-width: 500px) {
    /* Rules for when the iphone X is being used */
}

@media only screen and (max-width: 1800px) and (min-width: 500px) {
    /* Rules for when the ipad is being used */
}

@media only screen and (min-width: 1800px) {
    /* Rules for when the desktop is being used */
    body {
        font-size: 18px;
    }
    .main_page_body_under_navigation {
        left: 150px;
        right: 150px;
    }
}