h1 {
    color: rgb(240, 240, 240);
}


/* body {
    background-image: url("../assets/images/sky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */