@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600&display=swap');

/* /////////////////////// BACKGROUNDS /////////////////////// */

body {
    background-image: url("../assets/images/sunriseBlur.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans 3', sans-serif;
}


/* /////////////////////// LAYOUTS /////////////////////// */


/* page level layout components divs*/


/* Div to form the nav bar */

.navigation {
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    height: 50px;
}

.navigation_hamburger_expanded {
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    top: 0px;
    right: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: #0062a8;
}

.navigation_hamburger_button_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


/* Div to form the page under a nav bar */

.main_page_body_under_navigation {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 70px;
    bottom: 20px;
}


/* Flexboxes */

.row_flex_spaced {
    /*Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #0062a8;
}

.about_page_body_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    column-gap: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;




}

.about_page_body_flex {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: center;
    align-items: flex-start;
}

.about_page_body_flex#about_website_page {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.row_page_body_flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: center;
    align-items: flex-start;
}

.column_page_body_flex {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.login_row_flex_header {
    /*Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-right: 15px;
    margin-left: 10px;
}


/*layout rules for different screen sizes */

@media only screen and (max-width: 500px) {
    /* Rules for when the iphone X is being used */
}

@media only screen and (max-width: 1800px) and (min-width: 500px) {
    /* Rules for when the ipad is being used */
}

@media only screen and (min-width: 1800px) {
    /* Rules for when the desktop is being used */
    body {
        font-size: 18px;
    }
    .navigation {
        height: 80px;
    }
    .main_page_body_under_navigation {
        left: 10px;
        right: 10px;
        top: 100px;
        bottom: 20px;
    }
    .about_page_body_flex {
        gap: 50px;
    }
    .column_page_body_flex {
        gap: 50px;
    }
    .row_page_body_flex {
        gap: 50px;
    }
}


/* /////////////////////// COMPONANTS /////////////////////// */


/* Containers */

.logo {
    /* conatiner for the logo */
    margin-left: 10px;
    color: #ffffff;
}

.centered_column {
    /* Used to contain one or many text inside a flex box */
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 460px;
    min-width: none;
    margin: auto;
    text-align: center;
}

.outer_block_text_column {
    /* Used to contain one or many text inside a flex box */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    max-width: px;
    min-width: none;
    text-align: justify;
}

.outer_block_text_column .inner_block_text_column {
    /* Used to container text inside a flex box */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.inner_block_text_column#right_margin_text {
}


.outer_block_text_column#about_diabetes {
    grid-row: 1/-1;
    grid-col: 1/2;
    justify-self: end;

}
.outer_block_text_column#helpful_websites {
    grid-row: 1/2;
    grid-col: 2/3;
}

.outer_block_text_column#videos {
    grid-row: 2/3;
    grid-col: 2/3;
}


.page_column_element {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 700px;
    height: 100%;
    align-items: stretch;
}

.video_frame {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 5%
}

iframe {
    width: 40%;
}


/* text boxes */

.rounded_box_full_width {
    border-radius: 15px;
    width: 500px;
    height: 200px;
    width: 90%
}

.rounded_box_half_width {
    border-radius: 15px;
    width: 320px;
    height: 200px;
}

.rounded_box_half_width.white {
    background-color: #FFFFFF;
}

.rounded_box_half_width.light_blue {
    background-color: #EAF6FF;
}

.rounded_box_half_width.white.transparent {
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.8);
}

.rounded_box_half_width.light_blue.transparent {
    background-color: #EAF6FF;
    background-color: rgba(234, 246, 255, 0.8);
}


/* Background colours */

.light_theme_colour_background {
    background-color: #EAF6FF;
    border-radius: 0px 0px 15px 15px;
}

.dark_theme_colour_background {
    /* used for titles in column text */
    background-color: #0062a8;
    color: #EAF6FF;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    height: 47px;
    line-height: 47px;
}


/* Buttons */

.main_button {
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 200px;
}

.main_button.white {
    background-color: #ffffff;
    color: #858982;
}

.main_button.dark_blue {
    background-color: #0062A8;
    color: #FFFFFF;
}

.home_button {
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 40px;
}

.home_button.white {
    background-color: #ffffff;
    color: #858982;
}

.icon_button {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.button_margin_wrapper {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
}


/* icons */

.nav_icon {
    height: 50px;
    width: 50px;
    padding-right: 5px;
}

.icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* images */

.display_image {
    width: 600px;
    height: 600px;
}


/* text for default desktop view*/

body {
    color: #0062A8;
}

h1 {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

h2 {
    font-size: 27px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.grey {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #3C3E41;
}


/*layout rules for different screen sizes */

@media only screen and (max-width: 500px) {
    /* Rules for when the iphone X is being used */
    #navigation_buttons {
        display: none;
    }
    #navigation_hamburger_clicked_modal {
        display: none;
    }
    #about_website_page_large_display_image {
        display: none;
    }
    h1 {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }
    h2 {
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }
    h3 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }
    p {
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .page_column_element {
        width: 100%
    }

    .video_frame {
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 20px;

    }

    iframe {
        width: 90%;
    }

}

@media only screen and (max-width: 1800px) and (min-width: 500px) {
    /* Rules for when the ipad is being used */
    #navigation_buttons {
        display: none;
    }
    #navigation_hamburger_clicked_modal {
        display: none;
    }
    #about_website_page_large_display_image {
        display: none;
    }
    h1 {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }
    h2 {
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }
    h3 {
        font-size: 21px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
    }
    p {
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .page_column_element {
        width: 500px
    }
}

@media only screen and (min-width: 1800px) {
    /* Rules for when the desktop is being used */
    #navigation_hamburger {
        display: none;
    }
    #navigation_hamburger_clicked_modal {
        display: none;
    }
    .outer_block_text_column {
        /* Used to container text inside a flex box */
        max-width: 850px;
    }
    .inner_block_text_column {
        /* Used to container text inside a flex box */
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .rounded_box_half_width {
        border-radius: 25px;
        width: 550px;
        height: 300px;
    }
    .main_button {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Source Sans 3', sans-serif;
        border: none;
        border-radius: 10px;
        height: 60px;
        width: 300px;
    }
    .home_button {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Source Sans 3', sans-serif;
        border: none;
        border-radius: 10px;
        height: 60px;
        width: 60px;
    }
    .page_right_element {
        gap: 50px;
    }
    .page_left_element {
        gap: 50px;
    }
}