.about_page_body_flex_outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 10px;

}

.page_left_element {
    display: flex;
    width: 50%;

}

.page_right_element {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.outer_block_text_column {
    border: solid;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}


.inner_block_text_column {
    /* Used to container text inside a flex box */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.light_theme_colour_background#video {
    display: flex;
    justify-content: space-evenly;



}

iframe {
    width: 375px;
}




header {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    height: 105px;
    border: 5px solid black;
}

.main_page_body_under_navigation {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 200px;
}

.row_flex_spaced {
    /*Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0px;
    height: 105px;
    background-color: #0062a8;
}

.login_row_flex_header {
    /*Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 260px;
    margin-right: 15px;
    margin-left: 10px;
}

.logo {
    /* conatiner for the logo */
    margin-left: 10px;
    color: #ffffff;
}

.light_theme_colour_background {
    background-color: #EAF6FF;

}

.dark_theme_colour_background {
    /* used for titles in column text */
    background-color: #0062a8;
    color: #EAF6FF;
    text-align: center;
}


/* Buttons */

.light_button {
    /* primary use is for the nav bar login buttons */
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    color: #858982;
}


/* text */
body {
    font-family: "source-sans-3";

    color: #0062A8;
}

p {
    font-size: 15px;
}

h1 {
    font-size: 35px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h2 {
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 500px) {

    /* Rules for when the iphone X is being used */
    .about_page_body_flex_outer {
        display: flex;
        flex-direction: column;
    }

    .page_left_element {
        display: flex;
        width: 100%;
    }

    .page_right_element {
        display: flex;
        width: 100%;
    }

    .light_theme_colour_background#video {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    iframe {
        width: 333px;
    }
}



@media only screen and (max-width: 1800px) and (min-width: 500px) {
    /* Rules for when the ipad is being used */

}

@media only screen and (min-width: 1800px) {
    .page_left_element {
        display: flex;
        width: 50%;
    }

    .page_right_element {
        display: flex;
        width: 50%;
    }

    iframe {
        width: 375px;
    }

}